<link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css" />
<!-- Main content -->
<section class="content" id="contentPage">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Danh sách các phiếu thuê</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<div class="mb-2" id="buttonPaint">
							<button id="openModalDelete" type="button" class="btn btn-primary ml-2 mc-5 float-right"
								data-toggle="modal" data-target="#deleteRental" disabled>Xóa</button>
							<button id="openModalEdit" type="button" class="btn btn-primary ml-2 mc-5 float-right"
								data-toggle="modal" data-target="#editRental" disabled>Sửa</button>
							<button type="button" class="btn btn-primary ml-2 mc-5 float-right" data-toggle="modal"
								data-target="#addRental">Thêm</button>
						</div>
						<table id="listRentals" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>ID Phòng</th>
									<th>Danh Sách Khách Hàng</th>
									<th>Ngày Bắt Đầu</th>
									<th>Ngày Trả Phòng</th>
								</tr>
							</thead>
							<tbody>
								{{#each rentals}}
								<tr>
									<td>{{this.ID}}</td>
									<td>{{this.IDPhong}}
									</td>
									<td>{{this.DanhSachKhachHang}}</td>
									<td>{{this.NgayBatDauThue}}</td>
									<td>{{this.NgayTraPhong}}</td>
								</tr>
								{{/each}}
							</tbody>
							<tfoot>
								<tr>
									<th>ID</th>
									<th>ID Phòng</th>
									<th>Danh Sách Khách Hàng</th>
									<th>Ngày Bắt Đầu</th>
									<th>Ngày Trả Phòng</th>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- Add Rental Modal -->
<div class="modal fade" id="addRental" tabindex="-1" role="dialog" aria-labelledby="addRentalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addRentalLabel">Thêm phiếu thuê</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" action="/rentals/save">
				<div class="modal-body">
					<label>Phòng</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Phòng" id="Phong"
							name="IDPhong">
					</div>
					<label>Danh sách khách hàng</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-building"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Danh sách khách hàng" 
                        id="DanhSachKhachHang" name="DanhSachKhachHang">
					</div>
					<label>Ngày Bắt Đầu Thuê</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-building"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Ngày Bắt Đầu Thuê" id="NgayBatDauThue" name="NgayBatDauThue">
					</div>
					<label>Ngày Trả Phòng</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-id-card"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Ngày Trả Phòng" id="NgayTraPhong" name="NgayTraPhong">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary" id="addRentalButton">Thêm mới</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /.add Rental Modal -->

<!-- Edit Rental Modal -->
<div class="modal fade" id="editRental" tabindex="-1" role="dialog" aria-labelledby="editRentalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editRentalLabel">Chỉnh sửa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" id="editRentalForm">
				<div class="modal-body">
					<label>Phòng</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Phòng" id="editPhong" name="IDPhong">
					</div>
					<label>Danh Sách Khách Hàng</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-building"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Danh Sách Khách Hàng" id="editDanhSachKhachHang" name="DanhSachKhachHang">
					</div>

					<label>Ngày Bắt Đầu Thuê</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-building"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Ngày Bắt Đầu Thuê" id="editNgayBatDauThue" name="NgayBatDauThue">
					</div>

					<label>Ngày Trả Phòng</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-id-card"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Ngày Trả Phòng" id="editNgayTraPhong" name="NgayTraPhong">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-success" id="editRentalButton">Sửa</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /.edit Rental Modal -->

<!-- Delete Form -->
<form method="POST" name="deleteRentalForm"></form>
<!-- Delete Rental Modal -->
<div class="modal fade" id="deleteRental" tabindex="-1" role="dialog" aria-labelledby="deleteRentalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteRentalLabel">Xóa hoá đơn</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Bạn có thật sự muốn xóa
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger" id="deleteRentalButton">Xóa</button>
			</div>
		</div>
	</div>
</div>
<!-- /.Delete Rental Modal -->

<form method="GET" name="detailRentalForm"></form>
</section>

<script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>
<script>
	var delRentalID;
	var btnDeleteRental = document.getElementById('deleteRentalButton');
	var deleteForm = document.forms['deleteRentalForm'];
	var editForm = document.forms['editRentalForm'];
	var detailForm = document.forms['detailRentalForm'];
	var listRentals;
	const buttonOpenEdit = document.querySelector('#openModalEdit');
	const buttonOpenDelete = document.querySelector('#openModalDelete');

	$(document).ready(function () {
		listRentals = $('#listRentals').DataTable({
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			dom: 'Bfrtip',
			select: true,
		});
		listRentals.buttons().container().appendTo('#buttonPaint');
		$('#listRentals tbody').on('click', 'tr', function () {
			if ($(this).hasClass('selected')) {
				buttonOpenEdit.disabled = true;
				buttonOpenDelete.disabled = true;
			} else {
				buttonOpenEdit.disabled = false;
				buttonOpenDelete.disabled = false;
			}
		});
		
	});
	
	$('#editRental').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		var data = listRentals.row({ selected: true }).data();
		editForm.action = '/rentals/' + data[0] + '?_method=PUT';
		var modal = $(this);
		modal.find('.modal-body #editPhong').val(data[1]);
		modal.find('input[id="editDanhSachKhachHang"]').val(data[2]);
		modal.find('input[id="editNgayBatDauThue"]').val(data[3]);
		modal.find('input[id="editNgayTraPhong"]').val(data[4]);
	})

	$('#deleteRental').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		var data = listRentals.row({ selected: true }).data();
		delRentalID = data[0];
	});

	btnDeleteRental.onclick = function () {
		deleteForm.action = '/rentals/' + delRentalID + '?_method=DELETE';
		deleteForm.submit();
	}
</script>
<!-- /.content -->