<link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css" />
<!-- Main content -->
<section class="content" id="contentPage">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Danh sách các hoá đơn</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<div class="mb-2" id="buttonPaint">
							<button id="openModalDetail" type="button" class="btn btn-primary ml-2 mc-5 float-right"
								data-toggle="modal" data-target="#detailBill" href="#" disabled>Chi Tiết</button>
							<button id="openModalDelete" type="button" class="btn btn-primary ml-2 mc-5 float-right"
								data-toggle="modal" data-target="#deleteBill" disabled>Xóa</button>
							<button id="openModalEdit" type="button" class="btn btn-primary ml-2 mc-5 float-right"
								data-toggle="modal" data-target="#editBill" disabled>Sửa</button>
							<button type="button" class="btn btn-primary ml-2 mc-5 float-right" data-toggle="modal"
								data-target="#addBill">Thêm</button>
						</div>
						<table id="listBills" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Tên Khách Hàng</th>
									<th>Địa chỉ</th>
									<th>Tổng tiền</th>
									<th>Danh Sách Phiếu Thuê</th>
								</tr>
							</thead>
							<tbody>
								{{#each bills}}
								<tr>
									<td>{{this.ID}}</td>
									<td>{{this.TenKhachHang}}
									</td>
									<td>{{this.DiaChi}}</td>
									<td>{{this.TongTien}}</td>
									<td>{{this.DanhSachPhieuThue}}</td>
								</tr>
								{{/each}}
							</tbody>
							<tfoot>
								<tr>
									<th>ID</th>
									<th>Tên Khách Hàng</th>
									<th>Địa chỉ</th>
									<th>Tổng tiền</th>
									<th>Danh Sách Phiếu Thuê</th>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- Add Bill Modal -->
<div class="modal fade" id="addBill" tabindex="-1" role="dialog" aria-labelledby="addBillLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addBillLabel">Thêm khách hàng</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" action="/bills/save">
				<div class="modal-body">
					<label>Tên khách hàng</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Tên khách hàng" id="TenKhachHang"
							name="TenKhachHang">
					</div>
					<label>Địa chỉ</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-building"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Địa chỉ" id="DiaChi" name="DiaChi">
					</div>
					<label>Tổng Tiền</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-building"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Tổng Tiền" id="TongTien" name="TongTien">
					</div>
					<label>Danh Sách Phiếu Thuê</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-id-card"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Danh Sách Phiếu Thuê" id="DanhSachPhieuThue" name="DanhSachPhieuThue">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary" id="addBillButton">Thêm mới</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /.add Bill Modal -->

<!-- Edit Bill Modal -->
<div class="modal fade" id="editBill" tabindex="-1" role="dialog" aria-labelledby="editBillLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editBillLabel">Chỉnh sửa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" id="editBillForm">
				<div class="modal-body">
					<label>Tên Khách Hàng</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Tên Khách Hàng" id="editTenKhachHang" name="TenKhachHang">
					</div>
					<label>Địa chỉ</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-building"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Địa chỉ" id="editDiaChi" name="DiaChi">
					</div>

					<label>Tổng Tiền</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-building"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Tổng Tiền" id="editTongTien" name="TongTien">
					</div>
					<label>Danh Sách Phiếu Thuê</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-id-card"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Danh Sách Phiếu Thuê" id="editDanhSachPhieuThue" name="DanhSachPhieuThue">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-success" id="editBillButton">Sửa</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /.edit Bill Modal -->

<!-- Delete Form -->
<form method="POST" name="deleteBillForm"></form>
<!-- Delete Bill Modal -->
<div class="modal fade" id="deleteBill" tabindex="-1" role="dialog" aria-labelledby="deleteBillLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteBillLabel">Xóa hoá đơn</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Bạn có thật sự muốn xóa
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger" id="deleteBillButton">Xóa</button>
			</div>
		</div>
	</div>
</div>
<!-- /.Delete Bill Modal -->
<form method="GET" name="detailBillForm"></form>
</section>

<script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>
<script>
	var delBillID;
	var btnDeleteBill = document.getElementById('deleteBillButton');
	var deleteForm = document.forms['deleteBillForm'];
	var editForm = document.forms['editBillForm'];
	var detailForm = document.forms['detailBillForm'];
	var listBills;
	const buttonOpenEdit = document.querySelector('#openModalEdit');
	const buttonOpenDelete = document.querySelector('#openModalDelete');
	const buttonOpenDetail = document.querySelector('#openModalDetail');
	$(document).ready(function () {
		listBills = $('#listBills').DataTable({
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			dom: 'Bfrtip',
			select: true,
		});
		listBills.buttons().container().appendTo('#buttonPaint');
		$('#listBills tbody').on('click', 'tr', function () {
			if ($(this).hasClass('selected')) {
				buttonOpenEdit.disabled = true;
				buttonOpenDelete.disabled = true;
				buttonOpenDetail.disabled = true;
			} else {
				buttonOpenEdit.disabled = false;
				buttonOpenDelete.disabled = false;
				buttonOpenDetail.disabled = false;
			}
		});
		
	});
	
	$('#editBill').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		var data = listBills.row({ selected: true }).data();
		editForm.action = '/bills/' + data[0] + '?_method=PUT';
		var modal = $(this);
		modal.find('.modal-body #editTenKhachHang').val(data[1]);
		modal.find('input[id="editDiaChi"]').val(data[2]);
		modal.find('input[id="editTongTien"]').val(data[3]);
		modal.find('input[id="editDanhSachPhieuThue"]').val(data[4]);
	})

	$('#deleteBill').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		var data = listBills.row({ selected: true }).data();
		delBillID = data[0];
	});

	btnDeleteBill.onclick = function () {
		deleteForm.action = '/bills/' + delBillID + '?_method=DELETE';
		deleteForm.submit();
	}
	btnDetailBill = document.getElementById("openModalDetail");
	btnDetailBill.onclick = function() {
		var data = listBills.row({ selected: true }).data();
		console.log("Hello world");
		detailBillID = data[0];
		detailForm.action = '/bills/detail/' + detailBillID + '?_method=GET';
		detailForm.submit();
	}
</script>
<!-- /.content -->