<link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css" />
<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Danh sách các phòng hiện có tại khách sạn</h3>
						<button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
							data-target="#addRoom">Thêm phòng mới</button>
						<button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
							data-target="#deleteRoom">Xoá phòng</button>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example2" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Loại phòng</th>
									<th>Tình trạng</th>
									<th>Tuỳ Chỉnh</th>
								</tr>
							</thead>
							<tbody>
								{{#each rooms}}
								<tr>
									<td>{{this.ID}}</td>
									<td>
										{{this.LoaiPhong}}<i class="fa-regular fa-circle-question float-right"></i>
									</td>
									<td>
										{{this.TinhTrang}}
									</td>
									<td>
										<a href="#" class="btn btn-link" data-toggle="modal" data-target="#editRoom"
											data-id="{{this.ID}}" data-loaiphong="{{this.LoaiPhong}}"
											data-tinhtrang="{{this.TinhTrang}}">Sửa</a>
										<a href="#" class="btn btn-link" data-toggle="modal" data-target="#deleteRoom"
											data-id="{{this.ID}}">Xóa</a>
									</td>
								</tr>
								{{/each}}
							</tbody>
							<tfoot>
								<tr>
									<th>ID</th>
									<th>Tên phòng</th>
									<th>Loại phòng</th>
									<th>Tuỳ Chỉnh</th>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Add Room Modal -->
<div class="modal fade" id="addRoom" tabindex="-1" role="dialog" aria-labelledby="addRoomLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addRoomLabel">Thêm phòng</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" action="/rooms/save">
				<div class="modal-body">
					<div class="form-group">
						<label>Loại phòng</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-house-chimney-window"></i></span>
							<select class="form-control" id="LoaiPhong" name="LoaiPhong">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label>Tình trạng</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-hotel"></i></span>
							<select class="form-control" id="TinhTrang" name="TinhTrang">
								<option value="Co">Đã có khách</option>
								<option value="Trong">Trống</option>
								<option value="Hong">Hỏng</option>
							</select>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-primary" id="addRoomButton">Thêm mới</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /.add Room Modal -->

<!-- Edit Room Modal -->
<div class="modal fade" id="editRoom" tabindex="-1" role="dialog" aria-labelledby="editRoomLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editRoomLabel">Chỉnh sửa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="editRoomForm" method="POST">
				<div class="modal-body">
					<div class="form-group">
						<label>Loại phòng</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-house-chimney-window"></i></span>
							<select class="form-control" id="editLoaiPhong" name="LoaiPhong">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label>Tình Trạng</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa-solid fa-hotel"></i></span>
							<select class="form-control" id="editTinhTrang" name="TinhTrang">
								<option value="Co"> Đã có khách</option>
								<option value="Trong">Trống</option>
								<option value="Hong">Hỏng</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="submit" class="btn btn-success" id="editRoomButton">Sửa</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /.edit Room Modal -->

<!-- Delete Form -->
<form method="POST" name="deleteRoomForm"></form>
<!-- Delete Room Modal -->
<div class="modal fade" id="deleteRoom" tabindex="-1" role="dialog" aria-labelledby="deleteRoomLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteRoomLabel">Xóa phòng</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Bạn có thật sự muốn xóa
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="submit" class="btn btn-danger" id="deleteRoomButton">Xóa</button>
			</div>
		</div>
	</div>
</div>
<!-- /.Delete Room Modal -->
<script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>
</script>
<script>
	$(document).ready(function () {
		/*var table = $("#example2").DataTable({
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
			"buttons": ["copy", "csv", "excel", "pdf", "print"]
		}).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');*/
		var table = $("#example2").DataTable();
		$('#example tbody').on('click', 'tr', function () {
			var d = table.row(this).data();
			console.log(d);
			table
				.row(this)
				.data(d)
				.draw();
		});
	});
	var roomID;
	var btnDeleteRoom = document.getElementById('deleteRoomButton');
	var deleteForm = document.forms['deleteRoomForm'];
	var editForm = document.forms['editRoomForm'];

	$('#editRoom').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		roomID = button.data('id');
		var editRoomLoaiPhong = button.data('loaiphong');
		var editRoomTinhTrang = button.data('tinhtrang');
		var modal = $(this);
		modal.find('.modal-body #editLoaiPhong').val(editRoomLoaiPhong);
		modal.find('.modal-body #editTinhTrang').val(editRoomTinhTrang);
		editForm.action = '/rooms/' + roomID + '?_method=PUT';
	})
	$('#deleteRoom').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		roomID = button.data('id');
	});

	btnDeleteRoom.onclick = function () {
		deleteForm.action = '/rooms/' + roomID + '?_method=DELETE';
		deleteForm.submit();
	}
</script>