<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">{{title}}</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/customers/{{customer.ID}}?_method=PUT">
                            <label>Họ và tên</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Họ và tên"
                                    value="{{customer.HoTen}}" id="HoTen" name="HoTen">
                            </div>

                            <div class="form-group">
                                <label>Loại khách</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-plane"></i></span>
                                    <select class="form-control" id="LoaiKhach" name="LoaiKhach">
                                        {{#ifEquals customer.LoaiKhach 1}}
                                        <option value="1" selected>nội địa</option>
                                        <option value="2">nước ngoài</option>
                                        {{else}}
                                        <option value="1">nội địa</option>
                                        <option value="2" selected>nước ngoài</option>
                                        {{/ifEquals}} 
                                    </select>
                                </div>
                            </div>

                            <label>Địa chỉ</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-building"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Địa chỉ"
                                    value="{{customer.DiaChi}}" id="DiaChi" name="DiaChi">
                            </div>

                            <label>CMND/CCCD</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="CMND/CCCD"
                                    value="{{customer.CMND}}" id="CMND" name="CMND">
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Lưu</button>

                            <!-- /input-group -->
                        </form>
                        <a href="/customers"><button class="btn btn-default">Hủy</button></a>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>