<link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css" />
<!-- Main content -->
<section class="content" id="contentPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách khách hàng</h3>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                            data-target="#addCustomer">Thêm khách hàng</button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="listCustomers" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Họ và tên</th>
                                    <th>Loại khách</th>
                                    <th>Địa chỉ</th>
                                    <th>CMND/CCCD</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each customers}}
                                <tr>
                                    <td>{{this.ID}}</td>
                                    <td>{{this.HoTen}}</td>
                                    <td>{{#ifEquals this.LoaiKhach 1}}Nội địa{{else}}nước ngoài{{/ifEquals}}</td>
                                    <td>{{this.DiaChi}}</td>
                                    <td>{{this.CMND}}</td>
                                    <td>
                                        <a href="#" class="btn btn-link" data-toggle="modal" data-target="#editCustomer"
                                            data-id="{{this.ID}}" data-hoten="{{this.HoTen}}"
                                            data-loaikhach="{{this.LoaiKhach}}" data-diachi="{{this.DiaChi}}"
                                            data-cmnd="{{this.CMND}}">Sửa</a>
                                        <a href="#" class="btn btn-link" data-toggle="modal"
                                            data-target="#deleteCustomer" data-id="{{this.ID}}">Xóa</a>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="6" class="center">
                                        Chưa có khách hàng nào, hãy bấm thêm khách hàng
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Họ và tên</th>
                                    <th>Loại khách</th>
                                    <th>Địa chỉ</th>
                                    <th>CMND/CCCD</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <!-- Add Customer Modal -->
    <div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="addCustomerLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerLabel">Thêm khách hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/customers/save">
                    <div class="modal-body">
                        <label>Họ và tên</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Họ và tên" id="HoTen" name="HoTen">
                        </div>

                        <div class="form-group">
                            <label>Loại khách</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-plane"></i></span>
                                <select class="form-control" id="LoaiKhach" name="LoaiKhach">
                                    <option value="1">nội địa</option>
                                    <option value="2">nước ngoài</option>
                                </select>
                            </div>
                        </div>

                        <label>Địa chỉ</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-building"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Địa chỉ" id="DiaChi" name="DiaChi">
                        </div>

                        <label>CMND/CCCD</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="CMND/CCCD" id="CMND" name="CMND">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" id="addCustomerButton">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.add Customer Modal -->

    <!-- Edit Customer Modal -->
    <div class="modal fade" id="editCustomer" tabindex="-1" role="dialog" aria-labelledby="editCustomerLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCustomerLabel">Chỉnh sửa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" id="editCustomerForm">
                    <div class="modal-body">
                        <label>Họ và tên</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Họ và tên" id="editHoTen" name="HoTen">
                        </div>

                        <div class="form-group">
                            <label>Loại khách</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-plane"></i></span>
                                <select class="form-control" id="editLoaiKhach" name="LoaiKhach">
                                    <option value="1">nội địa</option>
                                    <option value="2">nước ngoài</option>
                                </select>
                            </div>
                        </div>

                        <label>Địa chỉ</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-building"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Địa chỉ" id="editDiaChi" name="DiaChi">
                        </div>

                        <label>CMND/CCCD</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="CMND/CCCD" id="editCMND" name="CMND">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-success" id="editCustomerButton">Sửa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.edit Customer Modal -->

    <!-- Delete Form -->
    <form method="POST" name="deleteCustomerForm"></form>
    <!-- Delete Customer Modal -->
    <div class="modal fade" id="deleteCustomer" tabindex="-1" role="dialog" aria-labelledby="deleteCustomerLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCustomerLabel">Xóa khách hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có thật sự muốn xóa
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="deleteCustomerButton">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Delete Customer Modal -->
</section>

<script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#listCustomers').DataTable({
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
    var customerID;
    var btnDeleteCustomer = document.getElementById('deleteCustomerButton');
    var deleteForm = document.forms['deleteCustomerForm'];
    var editForm = document.forms['editCustomerForm'];
    

    $('#editCustomer').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        customerID = button.data('id');
        editForm.action = '/customers/' + customerID + '?_method=PUT';
        var editCustomerHoTen = button.data('hoten');
        var editCustomerLoaiKhach = button.data('loaikhach');
        var editCustomerDiaChi = button.data('diachi');
        var editCustomerCMND = button.data('cmnd');
        var modal = $(this);
        modal.find('.modal-body #editHoTen').val(editCustomerHoTen);
        modal.find('.modal-body #editLoaiKhach').val(editCustomerLoaiKhach);
        modal.find('input[id="editDiaChi"]').val(editCustomerDiaChi);
        modal.find('input[id="editCMND"]').val(editCustomerCMND);
    })

    $('#deleteCustomer').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        customerID = button.data('id');
    });

    btnDeleteCustomer.onclick = function () {
        deleteForm.action = '/customers/' + customerID + '?_method=DELETE';
        deleteForm.submit();
    }
</script>
<!-- /.content -->