<link rel="stylesheet" href="/css/adminlte.css">
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-body row">
            {{#profile}}
            <div class="col-5 text-center d-flex align-items-center justify-content-center">
                <form action="/accounts/upload" method="POST" id="editProfileForm" enctype="multipart/form-data">
                    <div class="card-body box-profile">
                        <img class="profile-user-img img-fluid" src="/img/users/{{Avatar}}" alt="" />
                        <br>
                        <br>
                        <br>
                        <input type="file" class="form-control" name="Avatar">
                        <br>
                        <div class="justify-content-center">
                            <input type="submit" class="btn btn-primary" value="Lưu">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-7">
                <h5><strong>ID</strong></h5>
                <p class="text-muted">{{ID}}</p>
                <h5><strong>Họ Tên</strong></h5>
                <p class="text-muted">{{HoTen}}</p>
                <h5><strong>Tài Khoản</strong></h5>
                <p class="text-muted">{{TaiKhoan}}</p>
                <h5><strong>Địa Chỉ</strong></h5>
                <p class="text-muted">{{DiaChi}}</p>
                <h5><strong>Ngày Sinh</strong></h5>
                <p class="text-muted">{{DOB}}</p>
                <h5><strong>Email</strong></h5>
                <p class="text-muted">{{Email}}</p>
                <h5><strong>Điện Thoại</strong></h5>
                <p class="text-muted">{{Phone}}</p>
                <h5><strong>Chức Vụ</strong></h5>
                <p class="text-muted">{{ChucVu}}</p>
                <div class="form-group">
                    <a class="btn btn-primary" href="/accounts/changeProfile">Thay Đổi Thông Tin Cá Nhân</a>
                    <a class="btn btn-primary" href="/accounts/changePassword">Thay Đổi Mật Khẩu</a>
                </div>
            </div>
            {{/profile}}
        </div>
        {{#if message }}
        <h6 class="alert alert-info mt-4">{{message}}</h6>
        {{/if}}
    </div>

</section>
<!-- /.content -->